html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, "Fira Code", "Open Sans", Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.centre-text {
    text-align: center;
}

.project-div {
    min-height: 25vh;
    padding: 25px;
}

hr {
    max-width: 85vw;
    border-top: 1px solid #444444;
}

.grid-container {
    display: grid;

    grid-gap: 20px;
    align-content: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.grid-item {
    max-width: 384px;
    min-width: 10vw;
    margin-top: 10px;
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);

    transition: box-shadow 0.15s ease-out, margin 0.1s ease-out;
    -webkit-transition: box-shadow 0.15s ease-out, margin 0.1s ease-out;
    -moz-transition: box-shadow 0.15s ease-out, margin 0.1s ease-out;
    -o-transition: box-shadow 0.15s ease-out, margin 0.1s ease-out;
}

.card-hover:hover {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 32px -1px rgba(0, 0, 0, 0.75);
}

img {
    max-width: 100%;
    height: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
            supported by Chrome, Edge, Opera and Firefox */
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
